@use '../../../styles/Mixins/' as *;

.process-buttons {
  .invoke-btn {
    @include Button(
      $btn-color: var(--btn-yellow),
      $btn-color-hover: var(--btn-yellow-hover),
      $btn-width: 100%
    );
  }

  .addToQueue-btn {
    @include Button(
      $btn-color: var(--btn-purple),
      $btn-color-hover: var(--btn-purple-hover),
      $btn-width: 100%
    );
  }

  .cancel-btn {
    @include Button(
      $btn-color: var(--btn-red),
      $btn-color-hover: var(--btn-red-hover),
      $btn-width: 100%
    );
  }
}
